.dashboardPage > .confirmOrderPage {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
}

.confirmOrderPage .confirmOrderContainer {
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.updateOrderForm {
  /* margin: 5vmax 0; */
  padding: 2vmax;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateOrderForm > h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 3vmax 0 2vmax;
}

.updateOrderForm > div > select {
  padding: 1vmax 1vmax 1vmax 3vmax;
  /* margin: 2rem 0; */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(87, 87, 87, 1);
  text-transform: capitalize;
  text-align: center;
  outline: none;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.updateOrderForm #createProductBtn {
  width: 90%;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}

@media screen and (max-width: 800px) {
  .confirmOrderPage .confirmOrderContainer {
    grid-template-columns: 1fr;
  }

  .rightCol {
    padding-top: 2rem;
  }

  .updateOrderForm > h2 {
    font-size: 2rem;
  }
}
