.contactContainer {
  height: 90vh;
  width: 100%;
  max-width: 100%;
  display: grid;
  place-items: center;
  background-color: white;
}

.mailBtn {
  text-decoration: none;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
  text-decoration: none;
  font: 200 2vmax "Roboto";
  cursor: pointer;
  padding: 2vmax;

  font-weight: 500;
  background: rgb(6, 42, 30);
  background: linear-gradient(
    65deg,
    rgba(6, 42, 30, 1) 10%,
    rgb(16, 99, 116) 90%
  );
  font-size: 2.75vmax;
  color: white;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}
